.search-root {
	padding: 2px 4px;
	display: flex;
	align-items: top;
	width: 400;
}

.search-input {
	margin-left: 8;
	flex: 1;
}

.search-iconButton {
  padding: 10;
}

.search-divider {
	width: 1;
	height: 28;
	margin: 4;
}

.info-card {
	position: relative;
	max-width: 345;
	bottom: 150;
	left: -45px;
	z-index: 100;
}

.info-window {
	position: relative;
	bottom: 220;
	left: -45px;
	width: 260;
	background-color: white,
	box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
	padding: 14;
	font-size: 14;
	z-index: 100;
	border-radius: 10px;
}

.info-media {
  height: 140;
}

.image-frame {  
	height: 200; /*can be anything*/
	width: 210; /*can be anything*/
	position: absolute;
}

.info-button {
	margin: 5px;
}

.info-button-del {
	margin: 5px;
	float: right;
}

.image-img {  
	max-height: 200px;  
	max-width: 190px; 
	width: auto;
	height: auto;
	/* position: absolute;   */
	top: 0;  
	bottom: 0;  
	left: 0;  
	right: 0;  
	/* margin: auto; */
}