.search-root {
	padding: 2px 4px;
	display: flex;
	align-items: top;
	width: 400;
}

.search-input {
	margin-left: 8;
	flex: 1;
}

.search-iconButton {
  padding: 10;
}

.search-divider {
	width: 1;
	height: 28;
	margin: 4;
}

.info-card {
	position: relative;
	max-width: 345;
	bottom: 150;
	left: -45px;
	z-index: 100;
}

.info-media {
  height: 140;
}