html{
  height: 100% !important;
  margin: 0;
  background: linear-gradient(45deg, rgba(254, 108, 139, 1)30%, rgba(255, 142, 81, 0.8)90%); 
background: -moz-linear-gradient(45deg, rgba(254, 108, 139, 1)30%, rgba(255, 142, 81, 0.8)90%); 
background: -webkit-linear-gradient(45deg, rgba(254, 108, 139, 1)30%, rgba(255, 142, 81, 0.8)90%); 
background: -o-linear-gradient(45deg, rgba(254, 108, 139, 1)30%, rgba(255, 142, 81, 0.8)90%); 
}
h1 {
  color: rgba(255, 255, 255, 0.8);
}
header {
  height: 0px;
}
.home-wrapper {
  margin: 0 auto;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 50px 1fr; */
  grid-template-rows: auto 90vh;

  grid-template-areas:
    'header'
    'main';
  height: 100vh;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  grid-area: main;
  background-color: white;
}

#left_schedule {
  background-color: #FFECC9;
  float: left;
  width: 28%;
  height: 100%;
  font-size: calc(10px + 2vmin);
}

#middle_spot {
  background-color:#F2FFF2;
  float: left;
  width: 28%;
  height: 100%;
  font-size: calc(10px + 2vmin);
}

#right_map {
  background-color:#FFECC9;
  float: left;
  width: 44%;
  height: 100%;
  font-size: calc(10px + 2vmin);
}

/* edited by lun */
.spots-root {
  width: 100%;
}
.test-card-root {
  width:90%;
  min-width: 275px;
  margin: 10px;
  float: center;
}
.test-card-delete {
  display: none !important;
  float: right;
  transition: all 0.2s ease;
}
.test-card-root:hover .test-card-delete {
  display: inline !important;
}
.test-card-root:hover .test-card-delete:hover {
  display: inline !important;
  /* border:1.5px solid #ffffff; */
  text-shadow: 2px 2px 5px #ffffff;
}
.test-card-bullet {
  display: 'inline-block';
  margin: 0 2px;
  transform: scale(0.8)
}
.test-card-title {
  font-size: 14
}
.test-card-pos {
  margin-bottom: 12px;
}
.test-card-media {
  height: auto !important;
  background-size: contain !important;
  padding-top: 56.25%;
}
.test-card-dense{
  margin-top: 2px;
}
.test-card-textfield{
  margin-left: 1px;
  margin-right: 1px;
}
.test-duration-textfield{
  margin-left: 1px;
  margin-right: 1px;
}
.test-expand {
  transform: rotate(0deg);
  margin-left: auto;
  /* transition: transitions.create('transform', {
    duration: theme.transitions.duration.shortest,
  }) */
}
.test-expandOpen {
  transform: rotate(180deg);
}
.test-button-root {
  padding: 4px 4px;
  display: flex;
  align-items: center;
  width: 400;
  margin-left: 2px;
}
.test-button {
  padding: 10;
}
.test-leftIcon {
  margin-left: 5;
}
.test-iconSmall {
  font-size: 20;
}

.info-media {
  height: 140;
}

.element {
  overflow-y: auto;
  overflow-x: auto;
}
.fixed-size {
  height: 74vh;
}
.day-fixed-size {
  height: 74vh;
}
/* .active {
	color:red !important;
} */
.navbar {
  width: 60%;
  /* height: 5%; */
  /* margin-bottom: 0px !important; */
  /* background-color: #fff; */
  /* box-sizing: border-box; */
  display: flex;
  /* align-content: center;
  justify-content: center; */
  font-size: calc(8px + 2vmin);
  
}
.navbar ul {
  margin:0;
  list-style: none;
  display: flex;
  /* align-content: center;
  justify-content: center; */
}

.navbar ul li {
  display:inline-block;
  padding:5px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  /* align-content: center;
  justify-content: center; */
}

.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.Selectable .DayPicker-Day {
  border-radius: 0 !important;
}
.Selectable .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.Selectable .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}
