@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200");


html, body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100% !important;
    font: inherit;
    vertical-align: baseline;
  }
.home-wrapper {
    margin: 0 auto;
    height: 100%;
}
header {
    display: block;
    margin-bottom: 1em;
}
#header {
    text-align: center;
	padding: 6em 0 2em 0;
}
h1 {
    font-weight: 200 !important;
}
.Star-app__title {
	font-size: 100px;
	font-weight: 100;
	text-align: center;
	color: #ffffff;
	margin: 0;
	padding: 0;
}